.stats-form {
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 20px;
}

.stats-boxes {
    display: flex;
    flex-direction: column;
   align-items: center;
   color: whitesmoke;
}

